<div class="container" *ngIf="!isQuizCompleted">
  <mat-card class="example-card">
    <mat-card-header class="d-flex justify-content-between py-3">
      <mat-card-title>QUIZ ROCK'BAND</mat-card-title>
      <h4>Player: <span>{{ playerName }}</span></h4>
    </mat-card-header>

    <mat-card-content *ngIf="questionList.length">
      <div class="d-flex justify-content-around">
        <h4>{{ points }} Pontos</h4>
        <h4>Questões {{ currentQuestion+1 }} of {{ questionList.length }}</h4>
        <h4>⏱ {{ counter }} sec</h4>
      </div>
      <mat-divider></mat-divider>
      <mat-card-title class="text-center">
        A música
        <span>"{{ questionList[currentQuestion].questionText }}"</span>
        é de qual banda?
      </mat-card-title>
      <mat-divider></mat-divider>

      <div>
        <ol *ngFor="let question of questionList[currentQuestion].options">
          <li (click)="questionAnswer(currentQuestion+1, question)">
            <div appIsCorrect [isCorrect]="question.correct" class="card">
              {{ question.text }}
            </div>
          </li>
        </ol>
      </div>
      
      <mat-card-actions class="justify-content-md-end">
        <button [hidden]="isQuizCompleted" mat-raised-button color="warn" (click)="resetQuiz()">RESET</button>
      </mat-card-actions>
    </mat-card-content>

    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>

<div class="container"*ngIf="isQuizCompleted">
  <mat-card class="example-card example-card-finish">
    <mat-card-content>
      <h1 class="text-center">PARABÉNS!!!</h1>
      <div class="row pt-3 text-center">
        <div class="col-12">
          <label class="col-form-label">Player:</label>
          <span class="span-resp"> {{ playerName }}</span>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <label class="col-form-label">Acertou: </label>
          <span class="span-resp"> {{ correctAnswer }}</span>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <label class="col-form-label">Errou:</label>
          <span class="span-resp"> {{ inCorrectAnswer }}</span>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <label class="col-form-label">Pontos:</label>
          <span class="span-resp"> {{ points }}</span>
        </div>
      </div>

      <mat-card-actions class="justify-content-md-center pt-3">
        <button mat-raised-button color="primary" (click)="init()">INÍCIO</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>